// Globals

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Outfit", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Big Shoulders Display", sans-serif;
}

a {
  color: $almost-black;
  text-decoration: none;
}

// spacing
.p-lr-mob {
  padding-left: 1rem;
  padding-right: 1rem;
}
.p-tb-mob {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

// flexbox
.flex {
  display: flex;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}

// hide elements
.hidden {
  display: none;
}
