// Header

.header {
  position: relative;
  &__hero {
    margin-bottom: 2rem;
    &__img {
      width: 100%;
      @include breakpoint-up(medium) {
        max-width: 57%;
      }
    }
  }
  &__content {
    & div:not(:last-child) {
      margin-bottom: 2rem;
    }
    &__header {
      h1 {
        font-weight: 900;
        font-size: $lg-head;
        line-height: 55px;
        text-transform: uppercase;
      }
    }
    &__txt {
      p {
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        color: #444444;
      }
    }
    @include breakpoint-up(medium) {
      position: absolute;
      top: 25%;
      left: 48%;
      max-width: 27.5rem;
    }
  }
}
