// Header

.header {
  &__hero {
    width: 100%;
    min-height: 23.4375rem;
    background-image: url("../img/mobile/image-hero@2x.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 2rem;
  }
  &__content {
    & div:not(:last-child) {
      margin-bottom: 2rem;
    }
    &__header {
      h1 {
        font-weight: 900;
        font-size: $lg-head;
        line-height: 55px;
        text-transform: uppercase;
      }
    }
    &__txt {
      p {
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        color: #444444;
      }
    }
  }
}
