// Variables

// colors
$almost-black: #151515;
$dark-grey: #444;
$white: #fff;
$gold: #d5966c;

// font-sizes
$lg-head: 3.75rem;
$md-head: 3.125rem;
$sm-head: 2rem;

$lg-prgrf: 1.125rem;
$sm-prgrf: 1rem;
$lg-prgrf-desk: 1.375rem;

